<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- 属性配置 -->
	<property name="myname" value="ProjUsedVeh"/>
	<!-- Slf4j支持对象拼装方式:log.info("输出:V1={},V2={}","A","B"),输出:V1=A,V2=B -->
	<appender name="RootFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>info</level>
		</filter>
		<!-- ${catalina.base:-/logs} 格式是 ${变量名:-默认值},如果catalina.base是空，则使用缺省值d:/logs -->
		<file>${catalina.base:-/logs}/webapps/${myname}/logback.log</file>
		<append>true</append>                                   
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${catalina.base:-d:/mylogs}/webapps/${myname}/logback.log.%i.zip</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>9</maxIndex>
		</rollingPolicy>	
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>30MB</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%p]	[%c:%t-%L] %m%n</pattern>
		</encoder>
	</appender>

	<!-- 控制台输出 -->
	<appender name="RootConsoleAppender"
		class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<!-- 输出等级：info,warn,error中的一个 -->
			<level>info</level>
		</filter>
		<!-- encoder替换了以前的layout,指定编码，输出模板 -->
		<encoder charset="UTF-8" class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
		  <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %p %m%n</pattern>
		</encoder>
	</appender>

	<root>
		<level value="info" />
		<appender-ref ref="RootFileAppender" />
		<appender-ref ref="RootConsoleAppender" />
	</root>
</configuration>
